{% extends 'base.html.twig' %}

{% block body %}
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a> </div>
        <h1>Inicio</h1>

    </div>
    <br><br>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-time"></i></span>
                        <h5>Listado de productos no disponibles</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in productDisable %}
                                <tr>
                                    <td class="taskDesc"><i class="icon-info-sign"></i> {{ product.code }}</td>
                                    <td class="taskDesc"><i class="icon-info-sign"></i> {{ product.name }}</td>
                                    <td class="taskStatus"><span class="pending">Agotado</span></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" style="text-align: center" class="taskDesc"><i class="icon-info-sign"></i> No tienes productos agotados</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-time"></i></span>
                        <h5>Listado de productos por acabarse</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Cantidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in productNoStock %}
                                <tr>
                                    <td class="taskDesc"><i class="icon-info-sign"></i> {{ product.code }}</td>
                                    <td class="taskDesc"><i class="icon-info-sign"></i> {{ product.name }}</td>
                                    <td class="taskStatus"><span class="in-progress">Por acabarse</span></td>
                                    <td class="taskOptions">{{ product.stock }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" style="text-align: center" class="taskDesc"><i class="icon-info-sign"></i> No tienes productos por acabarse</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="span12">
                <a class="btn btn-success" href="{{ path('admin_home_pdf') }}">Generar pdf</a>
            </div>
        </div>


    </div>


{% endblock %}